.row-flex {
    display:flex;
    flex-direction: row;
}
.column-flex {
    display:flex;
    flex-direction: column;
}
.display-none {
    display: none;
}
.mainContainer{
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;

}
.landing {
    background-color:#0C0D0E;
    background-image: url(images/stars.png);
}
h1{
    color:#FE3B1F;
    font-family:'Rowdies', cursive;
    font-size: 96px;
    padding-top:175px;
    text-align: center;
    margin-bottom: 105px;
}
.btn{
    width: 395px;
    height: 79px;
    border-radius: 50px;
    display: block;
    background-color: #FE3B1F;
    margin: auto;
    margin-top:105px;
    border:none;
    margin-bottom: 18px;
}
.start {
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    color: #FFFFFF;
    text-decoration: none;
}
.sumbitted {
    width: 338px;
    height: 66px;
    padding-top: 21px;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;;
}

.sumbitted > a{
    color: #FFFFFF;
}

.rocketMan{
    width: 410px;
    height: 372.5px;
    margin: auto;
}
.rocketMan > img {
    width: 100%;
    height: 100%;
    transform: translateX(-20px);
}

.left-side {
    width: 50%;
    /* height: 100%;    */
    align-items: center;
}
.form-group,.about-redberry{
    align-items: center;
    display: none;
}
/* .form-group.covid-page{
    align-items: stretch;
} */
.form-group.active,.about-redberry.active {
    display: flex;
}
.right-side {
    width: 50%;
    align-items: center;
    background-color: #0C0D0E;
    ;
}
.form-header {
    color: #FE3B1F;
    font-family:'Rowdies', cursive;
    font-size: 64px;
    margin: 131px auto;
}
.default-input {
    width: 455px;
    height: 54px;
    border: 1px solid #525557;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-left: 57px;
    margin-bottom: 37px;
}
.for-language-btn {
    width: 455px;
}
.buttons {
    width: 231px;
    height: 19px;
    margin-top: 175px;
    justify-content: space-between;
    align-items: center;
}
.bullet {
    height: 18px;
    width: 18px;
    background-color:#FE3B1F;
    border-radius: 50%;
    margin-top: 3px;
    opacity: 0.1;
  }
  .bullet.active {
    opacity: 1;
  }
  .change-step {
    height: 19px;
    width: 19px;

  }
.description{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    width: 705px;
    line-height: 48px;
    letter-spacing: 5px;
}
.add-language-btn {
    width: 201px;
    height: 32px;
    border:none;
    background-color: #FE3B1F;
    float: right;
    color: #FFFFFF;
}

.covid-format, .insights-format{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
.radio-quetion {
    width: 535px;
    height: 42px;
    font-size: 18px;
    margin-bottom: 8px;
    margin: auto 0px;
}
.radio {
    margin-bottom: 17px;
}
.contact-header{
    margin-top:51px;
}
input[type="date"] {
    overflow: hidden;
    padding: 0;
    width: 455px;
    height: 52px;
    padding-right: 20px;    
}
::-webkit-calendar-picker-indicator {
    background-image: url('images/calendar.svg')
}
.when-header {
    margin-top: 43px;
}
.been-vaccinated-header{
    margin-top: 71px;
}
.when-vaccinated-header {
    margin-top: 43px;
}
.devtalks-header {
    width: 595px;
    margin-top: 48px;
}
.topic-header{
margin-top: 45px;
}
.topic-text {
    font-family: 'Montserrat', sans-serif;
    width: 545px;
    height: 122px;
    padding-left:24px;
    border: 1px solid #525557;
}
.special-header {
    margin-top: 53px;
}
.something_special {
    font-family: 'Montserrat', sans-serif;
    width: 545px;
    height: 89px;
    padding-left:24px;
    border: 1px solid #525557;
}
.hidden {
    display: none;
}
.full-screen {
    width: 100%;
    background-color: #0C0D0E;
}
.submit-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    width: 395px;
    height: 79px;
    border-radius: 50px;
    display: block;
    background-color: #FE3B1F;
    margin: auto;
    margin-top:458px;
    border:none;
    margin-bottom: 30px;
}
#go-back {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    text-decoration: underline;
}